<style>

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Colors and fonts */
body {
    background: #fdf5e6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(17, 17, 17);
    font-size: 25px;
    line-height: 1.6;
}

/* Texture */
body {
    background-color: #fdf5e6;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px);
    background-size: 20px 20px, 40px 40px;

/* Titles styling */
h1 {
    color: #FFC0CB; /* Light pink */
    font-family: "Great Vibes",
    font-weight: 700;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2, h3 {
    color: #FFC0CB; /* Light pink */
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 30px;
   line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
 color: #333;
 font-family: 'Merriweather', serif;
 font-size: 16px
 line-height: 1.6
    line-height: normal;
    letter-spacing: normal;
    }

.cards-white {
  display: flex;
  flex-wrap: wrap;
}


.card-white {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
  flex-wrap:250px ;
  flex-grow: 1;




/* Make the image smaller */
.img-circle {
  width: 33%;
  height: auto; /* Keep the aspect ratio intact */
}


/* Links */
a {
    color: #FFC0CB; /* Light pink */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: none;
}

/* Design with class */
.container {
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 960px) {
    .container {
        width: 700px;
    }
}
@media (max-width: 720px) {
    .container {
        width: 500px;
    }
}
@media (max-width: 540px) {
    .container {
        width: 400px;
    }
}


.card-white:hover {
    background-color: #f9d8e0;
}

.img-circle {
    border-radius: 50%;
}

.btn-pink {
    background-color: #FFC0CB; /* Light pink */
    color: white;
    padding: 12px 18px;
    border-radius: 4px;
}

.btn-pink:hover {
    background-color: #f9d8e0;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 0px 20px;
}

.list-inline i {
    font-size: 40px;
    color: #FFC0CB; /* Light pink */
}

.list-inline i:hover {
    color: #e6912e;
}

.blue-btn{
   background-color:#f9d8e0 ;
   color: white;
   padding: 9px 14px ;
}



</style>
